default-lease-time 600;
max-lease-time 7200;
deny duplicates;
one-lease-per-client on;

ddns-updates on;
ddns-update-style standard;

subnet {{ dhcp_range_cidr | network_address }} netmask {{ dhcp_range_cidr | netmask }} {
 option domain-name "{{ dhcp_clients_zone }}";
 range {{ dhcp_client_range_cidr | ip_in_range | first }} {{ dhcp_client_range_cidr | ip_in_range | last }};
 option domain-name-servers {{ ipa_ip_address }};
 get-lease-hostnames true;
}